.dolt
{
font-style: italic;    
}

.vastag
{
    font-weight: bold;
}

.vastagdolt
{
font-weight: bold;
font-style: italic;
}

.kocka
{
    border-style: solid;
    border-width: medium;
}

.slim
{
font: 0.9em sans-serif;
font-weight: lighter;
font-style: italic;
}

.back
{
    background-color: lightgrey;
}

body
{
    font-size: 1.1em ;
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightblue;
}

nav
{
    border-radius:5px;
    background-color: whitesmoke;
    font-size:1.2em;
}

.container
{
    background-color: rgba(255,255,255,1);
}

.inf
{
    text-align: center;
    font-weight: bold; 
}

.marg
{
    margin-top: 100px ;
    border-top: 0.5em ;
    border-style: solid;
    border-bottom: 0em;
    border-left: 0em;
    border-right: 0em;
}

.jav
{
    font-weight: bold; 
    margin-top: 100px ;
    text-align: center;
}

.gyak
{
        margin-top: 150px ;
        text-align: center;
        font-weight: bold; 
}

.sima
{
margin-right: 150px;
margin-left: 25px;

}

.pont
{
margin-left:50px ;
}

.irt
{
    margin-right:50px ;
    font-weight: bold;
}

span
{
    margin-left: 25px;
}

.nagy
{
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px ;
}

.tigris
{
    margin-bottom: 75px;
}

h2
{
    text-align: center;
}

.mgit
{
    border-top: 0.5em ;
    border-style: solid;
    border-bottom: 0em;
    border-left: 0em;
    border-right: 0em;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px ;
    margin-bottom: 25px;
}